main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
main > div {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 1rem;
}
@media (min-width: 34rem) {
    main {
        height: 100%;
    }
    main > div.welcome {
        flex: 2 2 21rem;
    }
    main > div {
        flex: 1 1 12rem;
        padding: 1em;
     }
}
