.welcome {
    color:  white;
    background-color: #607d8b;
    height: 100%;
    padding: 1rem;
}

.welcome a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    color: #607d8b;
    padding: 1rem;
    border-radius: .2rem;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 1em #05425a, 0 0.5em 2em #2c6277;
}

.welcome h1 img {
    width: auto;
    height: 2em;
    vertical-align: middle;
    margin-left: -2em;
}

.welcome h1 {
    font-weight: 100;
    font-size: 2.5rem;
    text-shadow: 0 0 1em #05425a;
    padding-left: 2em;
    line-height: 1ex;
}
@media (min-width: 28rem) {
    .welcome h1 {
        font-size: 4rem;
    }
}
